<mat-table class=" mat-elevation-z8" [dataSource]="(tableDataSource$ | async)!">
  
  <ng-container matColumnDef="id">
      <div *matHeaderCellDef>id</div>
      <div *matCellDef="let alumnos">{{alumnos.id}}</div>
  </ng-container>

  <ng-container matColumnDef="nombre">
      <div *matHeaderCellDef>Nombre</div>
      <div *matCellDef="let alumnos">{{alumnos.nombre}}</div>
  </ng-container>

  <ng-container matColumnDef="apellido">
      <div *matHeaderCellDef>Apellido</div>
      <div *matCellDef="let alumnos">{{alumnos.apellido}}</div>
  </ng-container>

  <ng-container matColumnDef="email">
    <div *matHeaderCellDef>Email</div>
    <div *matCellDef="let alumnos">{{alumnos.email}}</div>
</ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  
</mat-table>
